.card {
    margin-bottom: 2em;
    height: 263px;
    border-radius: 15px;
}

.container {
    max-width: 90%;
    padding: 0 3em 0 3em;
}

.grey {
    background-color: var(--nav-colour);
    border-color: var(--gray-dark);
}

.white {
    background-color: var(--white);
    border-color: var(--secondary);
}

.pink {
    background-color: var(--secondary);
    border-color: var(--white);
}
