.navbar-brand {
    font-family: "open-sans", sans-serif;
    font-size: 36px;
    color: var(--gray) !important;
}

.navbar {
    background-color: var(--nav-colour) !important;
    text-transform: uppercase;
    padding: 0 3em 0 3em;
}

.nav-link {
    color: var(--primary-colour) !important;
    font-size: 18px;
}

.container-fluid {
    max-width: 90%;
}

.active {
    color: var(--secondary) !important;
}

.navbar-collapse {
    z-index: 1;
}

.nav-item {
    font-family: "Archivo Narrow", sans-serif;
}


