:root {
    --background-colour: #8d8d8d;
    --primary-colour: #463f3a;
    --nav-colour: #f4f3ee;
    --secondary: #c32c72;
    --white: #ffffff;
    --gray: #262626;
    --gray-dark: #707070;
}