:root {
    --background-colour: #E5E5E5;
    --primary-colour: #463f3a;
    --nav-colour: #f4f3ee;
    --secondary: #c32c72;
    --white: #ffffff;
    --gray: #262626;
    --gray-dark: #707070;
    --light: #8D8D8D;
}